################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CppProperties.json
/.vscode/settings.json
/.vscode
/a.out
/a.exe

a.out
/farkle/x64
/x64
/farkle.vcxproj
/farkle.vcxproj.filters
/farkle.vcxproj.user
/farkle.sln.DotSettings.user
/farkle.sln
